<section class="candy-types" id="candytypes">
  <div class="container">
    <h2 class="candy-types-header">
      <span class="line1-candy-types"> Candy </span>
      <span class="line2-candy-types">Types & Boosters</span>
    </h2>
    <p class="candy-types-descr">Delicious Tiles & Power-Ups Await</p>
    <ul class="candy-types-list">
      <li class="candy-types-list-item">
        <img
          class="candy-types-icon"
          src="/img/candy_types/candy1.png"
          alt="Candy icon"
        />
        <div class="candy-text-wrapper">
          <p class="candy-name">Strawberry Candy</p>
          <p class="candy-descr">Standard match-3 tile</p>
        </div>
      </li>
      <li class="candy-types-list-item">
        <img
          class="candy-types-icon"
          src="/img/candy_types/candy2.png"
          alt="Candy icon"
        />
        <div class="candy-text-wrapper">
          <p class="candy-name">Jelly Cube</p>
          <p class="candy-descr">Breaks into smaller candiess</p>
        </div>
      </li>
      <li class="candy-types-list-item">
        <img
          class="candy-types-icon"
          src="/img/candy_types/candy3.png"
          alt="Candy icon"
        />
        <div class="candy-text-wrapper">
          <p class="candy-name">Lollipop</p>
          <p class="candy-descr">Clears an entire row or column</p>
        </div>
      </li>
      <li class="candy-types-list-item">
        <img
          class="candy-types-icon"
          src="/img/candy_types/candy4.png"
          alt="Candy icon"
        />
        <div class="candy-text-wrapper">
          <p class="candy-name">Tasty Bomb</p>
          <p class="candy-descr">Explodes surrounding tiles</p>
        </div>
      </li>
      <li class="candy-types-list-item">
        <img
          class="candy-types-icon"
          src="/img/candy_types/candy5.png"
          alt="Candy icon"
        />
        <div class="candy-text-wrapper">
          <p class="candy-name">Color Crush</p>
          <p class="candy-descr">Wipes all tiles of one color</p>
        </div>
      </li>
      <li class="candy-types-list-item">
        <img
          class="candy-types-icon"
          src="/img/candy_types/candy6.png"
          alt="Candy icon"
        />
        <div class="candy-text-wrapper">
          <p class="candy-name">Ice Blocker</p>
          <p class="candy-descr">Break by matching next to it</p>
        </div>
      </li>
    </ul>
    <p class="candy-types-afterlist">
      These sweet tools are key to victory — combine them for spectacular
      effects!
    </p>
    <img
      class="gradient-line-candy-types"
      src="/img/candy_types/gradienttypes.png"
      alt="Gradient line"
    />
  </div>
</section>
