<section class="candy-map" id="candykingdom">
  <div class="candy-map-container">
    <h2 class="candy-map-header">Candy Kingdom Map</h2>
    <p class="candy-map-descr">Travel Through Magical Regions</p>

    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="candy-map-wrapper">
            <img
              class="candy-map-icon"
              src="../img/candy_map/templemob.png"
              alt="Temple icon"
            />
            <p class="candy-region-name">Royal Cream Garden</p>
            <p class="candy-region-descr">beginner levels with smooth design</p>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="candy-map-wrapper">
            <img
              class="candy-map-icon"
              src="../img/candy_map/volcanomob.png"
              alt="Volcano icon"
            />
            <p class="candy-region-name">Volcanic Fudge Ridge</p>
            <p class="candy-region-descr">hot & spicy challenges</p>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="candy-map-wrapper">
            <img
              class="candy-map-icon"
              src="../img/candy_map/glaciermob.png"
              alt="Glacier icon"
            />
            <p class="candy-region-name">Frosted Lake</p>
            <p class="candy-region-descr">iced candies & frozen blockers</p>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="candy-map-wrapper">
            <img
              class="candy-map-icon"
              src="../img/candy_map/valleymob.png"
              alt="Valley icon"
            />
            <p class="candy-region-name">Caramel Orchard</p>
            <p class="candy-region-descr">sticky tiles, gooey traps</p>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="candy-map-wrapper">
            <img
              class="candy-map-icon"
              src="../img/candy_map/marshmob.png"
              alt="Marshmallow icon"
            />
            <p class="candy-region-name">Dreamy Marshmallow Realm</p>
            <p class="candy-region-descr">pastel tiles with bonus boosters</p>
          </div>
        </li>
      </ul>
      <div class="container-btn">
        <button type="button" class="swiper-button-prev">
          <svg width="24" height="24" class="btn-icon">
            <use href="../img/sprite.svg#icon-goback"></use>
          </svg>
        </button>
        <button type="button" class="swiper-button-next">
          <svg width="24" height="24" class="btn-icon">
            <use href="../img/sprite.svg#icon-goback"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
