<section class="contacts" id="contact">
    <div class="container">
        <h2 class="contacts-title">Contact</h2>
        <p class="contacts-text-1">Need Help? Want to Share Feedback?</p>
        <p class="contacts-text-2">We're here for you!</p>
        <ul class="contacts-list">
            <li class="contacts-item">
                <p class="">
                    <strong>Email:</strong>
                    <a href="mailto:info@candyroyalemania.com" 
                   class="contacts-mail">info@candyroyalemania.com
                   </a>
                   </p>
            </li>
            <li class="contacts-item">Mon–Fri, 9am–6pm (UTC)</li>
           
                
            <li class="contacts-item">
                <p class="">
                    <strong>Game Studio:</strong> 
                    <span class="">SweetEmpire Interactive,</span>
                </p>
                <address class="contacts-address">
                    <a
                       class="footer-adress-link"
                       href="#"
                       target="_blank"
                       rel="noopener noreferrer"
                    >Berlin, Germany</a>
                </address>
            </li>
        </ul>
    </div>
    <div class="diagonal-stripe"></div>
</section>
