  
<div class="cookie-window" data-cookie-window  data-visible="">   
  <div class="container ">  
    <div class="cookie-content">  
      <p class="cookie-text">
        We use cookies to improve your experience on our website. 
        By browsing this website, you agree to our use of cookies.
      </p>
      <div class="cookie-btn-container">
        <button class="cookie-btn" data-cookie-action="accept">ACCEPT COOKIES</button>
        <button class="cookie-btn" data-cookie-action="decline">DECLINE COOKIES</button>
      </div>
    </div>
  </div>
</div>
