<section class="events" id="events">
    <div class="container">  
    <h2 class="events-title">
        <span class="space1-events">Events</span>
        <span class="space2-events">& Bonuses</span>
    </h2>
    <p class="events-text">There’s Always Something Sweet Happening</p>
    <div class="events-box">
        <ul class="events-list">
        <li class="events-item  eventsfirst eventsright">
            <h2 class="events-item-title">Daily Spin</h2>
            <p class="events-item-text">Get a new booster every morning</p>
        </li>
        <li class="events-item eventssecond">
            <h2 class="events-item-title">Lucky Cookie Weekends</h2>
            <p class="events-item-text">Earn double rewards</p>
        </li>
        <li class="events-item eventsthird eventsright">
            <h2 class="events-item-title">7-Day Login Bonuses</h2>
            <p class="events-item-text">Free boosters, coins, and lives</p>
        </li>
        <li class="events-item eventsfourth">
            <h2 class="events-item-title">Royal Tournaments</h2>
            <p class="events-item-text">Climb seasonal leaderboards</p>
        </li>
        <li class="events-item  eventsfifth eventsright">
            <h2 class="events-item-title">Themed Candy Events</h2>
            <p class="events-item-text">Halloween, Valentine’s, etc.</p>
        </li>
    </ul>

    </div>
    
    <p class="events-text events-text-bottom">Exclusive events reward the most loyal candy kings and queens!</p>
    <div class="events-yellow-vector">
          <picture>
            <source
              srcset="/img/tips/tipsvector.png 1x,
                      /img/tips/tipsvector-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
          
           <img class="tips-yellow-vector" 
              src="/img/tips/tipsvector.png"
              srcset="/img/tips/tipsvector-2x.png 2x"
              width="500"
              height="10"
              alt="yellow-vector">
    </picture>
    </div>
    </div>
</section>

