<section class="faq" id="faq">
    <div class="container">
    <h2 class="faq-title">
        <span class="space1-faq">FAQ</span>
        <span class="space2-faq">Updated &</span>
        <span class="space3-faq">Extended</span>
    </h2>
    <div class="faq-btn-nav-desk">
       <button class="faq-btn-nav-prev-desk" data-direction="prev" data-faq-nav-prev>←</button>
       <button class="faq-btn-nav-next-desk" data-direction="next" data-faq-nav-next>→</button>
    </div>
<div class="faq-carousel">
  

  <div class="faq-track" data-faq-track>
    <div class="faq-item" data-faq-item  data-index="0" data-open="true">
    <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>


      <div class="faq-question">Is the game free to play?</div>
      <div class="faq-answer">
        Yes!<br> Royal Candy Mania is completely free with optional in-app purchases.
      </div>
    </div>

    <div class="faq-item" data-faq-item  data-index="1" data-open="">
       <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">Can I play offline?</div>
      <div class="faq-answer">
        Absolutely.<br> All main levels are available offline.
      </div>
    </div>

    <div class="faq-item" data-faq-item  data-index="2">
       <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">Is this game suitable for kids?</div>
      <div class="faq-answer">
        Yes,<br> it’s family-friendly with no inappropriate content or aggressive ads.
      </div>
    </div>

    <div class="faq-item" data-faq-item   data-index="3">
       <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">Do levels get harder?</div>
      <div class="faq-answer">
        Yes!<br> Early levels are easy and relaxing, 
        but later ones introduce challenging mechanics like blockers and limited moves.
      </div>
    </div>

    <div class="faq-item" data-faq-item   data-index="4">
       <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">Are there ads?</div>
      <div class="faq-answer">
        Ads<br>are optional and mostly used to gain bonus boosters. 
        No interrupting ads during gameplay
      </div>
    </div>

     <div class="faq-item" data-faq-item   data-index="5">
       <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">How often are new levels added?</div>
      <div class="faq-answer">
       Every<br> 2–3 weeks, with seasonal updates and bonus regions.
      </div>
    </div>

       <div class="faq-item" data-faq-item   data-index="6">
         <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">Can I sync progress across devices?</div>
      <div class="faq-answer">
       Yes<br>— connect your game to Google Play to sync and back up your progress.
      </div>
    </div>

     <div class="faq-item" data-faq-item   data-index="7">
       <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">Is there a leaderboard or social play?
      </div>
      <div class="faq-answer">
       Yes!<br>Weekly events include leaderboards and special score challenges.
      </div>
    </div>

     <div class="faq-item" data-faq-item   data-index="8">
       <div class="faq-toggle-btn" data-menu-handler>
          <svg class="faq-toggle-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-faq-close"></use>
          </svg>
    </div>
      <div class="faq-question">I’m stuck — what do I do?
      </div>
      <div class="faq-answer">
       Try<br>combining power-ups, revisit previous levels for practice, or spin 
       the daily wheel for helpful items.
      </div>
    </div>
</div>

</div>
</div>
<div class="faq-btn-nav-mob">
  <button class="faq-btn-nav-prev-mob" data-direction="prev" data-faq-nav-prev>←</button>
  <button class="faq-btn-nav-next-mob" data-direction="next" data-faq-nav-next>→</button>
</div>
  
</section>