<footer class="footer">
  <div class="container">
   <nav class="footer-nav" id="content">
    
       <a class="footer-link" href="policy.html" target="_self" rel="noopener noreferrer">Privacy Policy</a>
   
       <a class="footer-link" href="terms.html" target="_self" rel="noopener noreferrer">Terms of Use</a>
  
      <a class="footer-link" href="cookies.html" target="_self" rel="noopener noreferrer">Cookie Policy</a>
   
   </nav>
   <ul class="footer-list-rights">
    <li class="footer-list-rights-item">
       <span class="footer-text-rights">All rights reserved.</span>
    </li>
    <li class="footer-list-rights-item">
       <span class="footer-text-rights">candyroyalemania.com © 2025</span>
    </li>
   </ul>
   
  </div>
</footer>
