<section class="game-mechanics" id="gamemechanics">
  <div class="container">
    <h2 class="mechanics-header">
      <span>Game</span>
      <span class="line2-game-mechanics">Mechanics</span>
    </h2>
    <p class="mechanics-descr">A Simple Game... With Addictive Depth</p>
    <ul class="mechanics-list">
      <li class="mechanics-list-item">
        <picture class="mechanics-icon">
          <source
            media="(min-width: 1200px)"
            srcset="/img/game_mechanics/candy_desk_list.jpg"
          />
          <img src="/img/game_mechanics/candy_mob_list.jpg" alt="Candy icon" />
        </picture>
        <p class="mechanics-list-descr">
          Swipe and match 3 or more candies of the same type
        </p>
      </li>
      <li class="mechanics-list-item">
        <picture class="mechanics-icon">
          <source
            media="(min-width: 1200px)"
            srcset="/img/game_mechanics/candy_desk_list.jpg"
          />
          <img src="/img/game_mechanics/candy_mob_list.jpg" alt="Candy icon" />
        </picture>
        <p class="mechanics-list-descr">
          Match 4+ to create powerful candy boosters
        </p>
      </li>
      <li class="mechanics-list-item">
        <picture class="mechanics-icon">
          <source
            media="(min-width: 1200px)"
            srcset="/img/game_mechanics/candy_desk_list.jpg"
          />
          <img src="/img/game_mechanics/candy_mob_list.jpg" alt="Candy icon" />
        </picture>
        <p class="mechanics-list-descr">
          Combine special candies to trigger royal chain reactions
        </p>
      </li>
      <li class="mechanics-list-item">
        <picture class="mechanics-icon">
          <source
            media="(min-width: 1200px)"
            srcset="/img/game_mechanics/candy_desk_list.jpg"
          />
          <img src="/img/game_mechanics/candy_mob_list.jpg" alt="Candy icon" />
        </picture>
        <p class="mechanics-list-descr">
          ️ Use strategy to complete goals in fewer moves
        </p>
      </li>
      <li class="mechanics-list-item">
        <picture class="mechanics-icon">
          <source
            media="(min-width: 1200px)"
            srcset="/img/game_mechanics/candy_desk_list.jpg"
          />
          <img src="/img/game_mechanics/candy_mob_list.jpg" alt="Candy icon" />
        </picture>
        <p class="mechanics-list-descr">
          No time pressure — your kingdom, your pace
        </p>
      </li>
      <li class="mechanics-list-item">
        <picture class="mechanics-icon">
          <source
            media="(min-width: 1200px)"
            srcset="/img/game_mechanics/candy_desk_list.jpg"
          />
          <img src="/img/game_mechanics/candy_mob_list.jpg" alt="Candy icon" />
        </picture>
        <p class="mechanics-list-descr">Play offline anytime, anywhere</p>
      </li>
    </ul>
    <p class="mechanics-afterlist">
      Royal Candy Mania is designed to be easy to start, but satisfyingly
      challenging as you progress.
    </p>
    <img
      class="gradient-line"
      src="/img/game_mechanics/underline.png"
      alt="Gradient line"
    />
  </div>
</section>
