<section class="hero" id="home">
  <div class="container">
    <h3 class="match-title">
      <span class="outlined-text" data-text="Match-3">Match-3</span>
    </h3>

    <h1 class="hero-title">
      <span class="align-left">Welcome to</span>
      <span class="align-center">the Kingdom</span>
      <span class="align-right">of Candy!</span>
    </h1>
    <div class="image-chaos-wrapper">
      <img
        src="/img/hero+header/princess_hero_desk_1x.png"
        alt="Candy Princess"
        class="princess-hero"
      />
      <img
        src="/img/hero+header/lolyhero.png"
        alt="Lolypop"
        class="loly-hero"
      />
      <img
        src="/img/hero+header/knighthero.png"
        alt="Candy knight"
        class="knight-hero"
      />
    </div>
    <div class="hero-descr-wrapper">
      <p class="hero-descr">
        Step into Royal Candy Mania, the most mouthwatering and majestic match-3
        game of the year! Crush colorful candies, match marshmallows, and rule
        your very own jelly kingdom — where every swipe brings royal
        satisfaction.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.heroesteam.royalcandymania&hl=uk"
        target="_blank"
        class="google-play-btn"
      >
        <picture>
          <source
            srcset="/img/hero+header/googlebtn.jpg"
            media="(min-width: 1200px)"
          />
          <img
            class="google-btn-img"
            src="/img/hero+header/googlebtndesk.jpg"
            alt="Download on Google Play"
          />
        </picture>
      </a>
    </div>
    <p class="hero-moto">Swipe. Smash. Reign Supreme.</p>
    <img
      class="gradient-line-hero"
      src="/img/hero+header/gradienthero.png"
      alt="Gradient line"
    />
  </div>
</section>
