<section class="hero" id="home">
  <div class="hero-container">
    <div class="background-layer-hero"></div>
    <h3 class="match-title">
      <span class="outlined-text" data-text="Match-3">Match-3</span>
    </h3>

    <h1 class="hero-title">
      <span class="align-left">Welcome to</span>
      <span class="align-center">the Kingdom</span>
      <span class="align-right">of Candy!</span>
    </h1>

    <img
      src="/img/hero+header/princess_hero_desk_1x.png"
      alt="Candy Princess"
      class="princess-hero"
    />
    <div class="hero-descr-wrapper">
      <p class="hero-descr">
        Step into Royal Candy Mania, the most mouthwatering and majestic match-3
        game of the year! Crush colorful candies, match marshmallows, and rule
        your very own jelly kingdom — where every swipe brings royal
        satisfaction.
      </p>
      <a
        href="https://candyroyalemania.com"
        target="_blank"
        class="google-play-btn"
      >
        <img
          class="google-btn-img"
          src="/img/hero+header/googlebtn.jpg"
          alt="Download button"
        />
      </a>
    </div>
    <p class="hero-moto">Swipe. Smash. Reign Supreme.</p>
    <img
      class="gradient-line-hero"
      src="/img/hero+header/gradienthero.png"
      alt="Gradient line"
    />
  </div>
</section>
