<section class="hero" id="hero">
  <div class="container hero-container">
    <h3 class="match-title">
      <span class="outlined-text" data-text="Match-3">Match-3</span>
    </h3>

    <h1 class="hero-title">Welcome to the Kingdom of Candy!</h1>
    <img
      src="../img/hero+header/princess_hero_desk_1x.png"
      alt="Candy Princess"
      class="princess-hero"
    />

    <div class="hero-descr-wrapper">
      <p class="hero-descr">
        Step into Royal Candy Mania, the most mouthwatering and majestic match-3
        game of the year! Crush colorful candies, match marshmallows, and rule
        your very own jelly kingdom — where every swipe brings royal
        satisfaction
      </p>
    </div>
  </div>
</section>
