<section class="level-variety" id="levelvariety">
  <div class="container">
    <h2 class="level-variety-header">
      <span class="line1-level-variety"> Level </span>
      <span class="line2-level-variety">Variety</span>
    </h2>
    <p class="level-variety-descr">Every Level Feels Fresh</p>
    <ul class="level-variety-list">
      <li class="level-variety-list-item">
        <div class="level-variety-wrapper">
          <div class="level-text-cont">
            <p class="level-name">Classic Mode</p>
            <p class="level-descr">Reach the target score</p>
          </div>
          <img
            class="level-variety-icon"
            src="/img/level_variety/crown1.png"
            alt="Crown icon"
          />
        </div>
      </li>
      <li class="level-variety-list-item">
        <div class="level-variety-wrapper">
          <div class="level-text-cont">
            <p class="level-name">Clear the Jelly</p>
            <p class="level-descr">Remove hidden layers</p>
          </div>
          <img
            class="level-variety-icon"
            src="/img/level_variety/crown2.png"
            alt="Crown icon"
          />
        </div>
      </li>
      <li class="level-variety-list-item">
        <div class="level-variety-wrapper">
          <div class="level-text-cont">
            <p class="level-name">Collect Ingredients</p>
            <p class="level-descr">
              Match and drop ingredients like milk or sugar
            </p>
          </div>
          <img
            class="level-variety-icon"
            src="/img/level_variety/crown3.png"
            alt="Crown icon"
          />
        </div>
      </li>
      <li class="level-variety-list-item">
        <div class="level-variety-wrapper">
          <div class="level-text-cont">
            <p class="level-name">Break the Chains</p>
            <p class="level-descr">Unlock frozen candies</p>
          </div>
          <img
            class="level-variety-icon"
            src="/img/level_variety/crown4.png"
            alt="Crown icon"
          />
        </div>
      </li>
      <li class="level-variety-list-item">
        <div class="level-variety-wrapper">
          <div class="level-text-cont">
            <p class="level-name">Combo Challenge</p>
            <p class="level-descr">Earn extra rewards with chain moves</p>
          </div>
          <img
            class="level-variety-icon"
            src="/img/level_variety/crown5.png"
            alt="Crown icon"
          />
        </div>
      </li>
    </ul>
    <p class="level-variety-afterlist">
      With hundreds of levels and more added regularly, your sugar journey never
      ends!
    </p>
    <img
      class="gradient-line-level-variety"
      src="/img/level_variety/gradient-level-var.png"
      alt="Gradient line"
    />
  </div>
</section>
