<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <p class="reviews-subtitle">Why Players Love Royal Candy Mania</p>

    <div class="swiper" id="reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-card">
            <div class="reviews-card-circle"> 
            <svg class="reviews-icon" width="15" height="15">
            <use href="./img/sprite.svg#icon-reviews-comma"></use>
          </svg>
         </div>
          
          <p class="reviews-text">“Gorgeous graphics and a relaxing vibe. 
            I play every day after work — feels like candy meditation!”</p>
          <p class="reviews-user-name">Sophia W.<br>UK</p>
        </div>
        <div class="swiper-slide reviews-card">
             <div class="reviews-card-circle"> 
            <svg class="reviews-icon" width="15" height="15">
            <use href="./img/sprite.svg#icon-reviews-comma"></use>
          </svg>
         </div>
          <p class="reviews-text">“The animations are soooo satisfying!
             I love the little jelly pops when you do combos.”</p>
          <p class="reviews-user-name">Dario R.<br>Spain</p>
        </div>
        <div class="swiper-slide reviews-card">
            <div class="reviews-card-circle"> 
            <svg class="reviews-icon" width="15" height="15">
            <use href="./img/sprite.svg#icon-reviews-comma"></use>
          </svg>
         </div> 
          <p class="reviews-text"> “Finally a match-3 game without annoying timers or forced ads. 
           Just pure fun.”</p>
          <p class="reviews-user-name">Lina C.<br>Germany</p>
        </div>
        <div class="swiper-slide reviews-card">
             <div class="reviews-card-circle"> 
            <svg class="reviews-icon" width="15" height="15">
            <use href="./img/sprite.svg#icon-reviews-comma"></use>
          </svg>
         </div>
          <p class="reviews-text" >“Gorgeous graphics and a relaxing vibe. 
            I play every day after work — feels like candy meditation!”</p>
          <p class="reviews-user-name">Sophia W.<br>UK</p>
        </div>
        <div class="swiper-slide reviews-card">
              <div class="reviews-card-circle"> 
            <svg class="reviews-icon" width="15" height="15">
            <use href="./img/sprite.svg#icon-reviews-comma"></use>
          </svg>
         </div> 
          <p class="reviews-text">“My kids and I both play — it’s 
          colorful, friendly, and actually clever in later levels!”</p>
          <p class="reviews-user-name">Aanya M.<br>India</p>
        </div>
        <div class="swiper-slide reviews-card">
              <div class="reviews-card-circle"> 
            <svg class="reviews-icon" width="15" height="15">
            <use href="./img/sprite.svg#icon-reviews-comma"></use>
          </svg>
         </div>
          <p class="reviews-text">“The animations are soooo satisfying!
             I love the little jelly pops when you do combos.”</p>
          <p class="reviews-user-name">Dario R.<br>Spain</p>
        </div>
      </div>

      <!-- Навігація -->
      <div class="swiper-button-prev" id="reviews-swiper-prev"></div>
      <div class="swiper-button-next" id="reviews-swiper-next"></div>
    </div>
  </div>
</section>
