<section class="strategytips" id="strategytips">
    <div class="container">  
    <h2 class="strategytips-title">
        <span class="space1-strategytips">Strategy</span>
        <span class="space2-strategytips">Tips</span>
    </h2>
    <p class="strategytips-text1">Pro Moves for Future Candy Royals</p>
    <ul class="strategytips-list">
        <li class="strategytips-item">
    <picture>
            <source
              srcset="/img/tips/tips1.png 1x,
                      /img/tips/tips1-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
          
           <img class="tips-icon" 
              src="/img/tips/tips1.png"
              srcset="/img/tips/tips1-2x.png 2x"
              width="50"
              height="50"
              alt="cookies">
    </picture>

            <div class="tips-striped-box">
               <div class="tips-striped-line"></div>
               <p class="strategytips-box">Always look 
               for 4 or 5-tile matches</p>
            </div>
        </li>
        <li class="strategytips-item">
            <div class="tips-striped-box">
               <div class="tips-striped-line"></div>
               <p class="strategytips-box bigbox">Combine boosters when possible
                 (e.g., Bomb + Lollipop)</p>
            </div>
    <picture>
            <source
              srcset="/img/tips/tips2.png 1x,
                      /img/tips/tips2-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
          
           <img class="tips-icon" 
              src="/img/tips/tips2.png"
              srcset="/img/tips/tips2-2x.png 2x"
              width="50"
              height="50"
              alt="cookies">
    </picture>
        </li>
        <li class="strategytips-item">
    <picture>
            <source
              srcset="/img/tips/tips3.png 1x,
                      /img/tips/tips3-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
          
           <img class="tips-icon" 
              src="/img/tips/tips3.png"
              srcset="/img/tips/tips3-2x.png 2x"
              width="50"
              height="50"
              alt="cookies">
    </picture>
            <div class="tips-striped-box">
               <div class="tips-striped-line"></div>
               <p class="strategytips-box bigbox">Focus on the level’s main goal
                 — not just clearing tiles</p>
            </div>
        </li>
        <li class="strategytips-item">
            <div class="tips-striped-box">
               <div class="tips-striped-line"></div>
                <p class="strategytips-box">Use Color Crush when you 
                 need a big board reset</p>
               </div>
    <picture>
            <source
              srcset="/img/tips/tips4.png 1x,
                      /img/tips/tips4-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
          
           <img class="tips-icon" 
              src="/img/tips/tips4.png"
              srcset="/img/tips/tips4-2x.png 2x"
              width="50"
              height="50"
              alt="cookies">
    </picture>
        </li>
        <li class="strategytips-item">
    <picture>
            <source
              srcset="/img/tips/tips5.png 1x,
                      /img/tips/tips5-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
          
           <img class="tips-icon" 
              src="/img/tips/tips5.png"
              srcset="/img/tips/tips5-2x.png 2x"
              width="50"
              height="50"
              alt="cookies">
    </picture>
            <div class="tips-striped-box">
               <div class="tips-striped-line"></div>
               <p class="strategytips-box">Save power — 
                ups for sticky levels</p>
            </div>
        </li>
    </ul>
    <p class="strategytips-text2">No level is impossible — just sweetly tactical.</p>
     <picture>
            <source
              srcset="/img/tips/tipsvector.png 1x,
                      /img/tips/tipsvector-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
          
           <img class="tips-yellow-vector" 
              src="/img/tips/tipsvector.png"
              srcset="/img/tips/tipsvector-2x.png 2x"
              width="500"
              height="10"
              alt="yellow-vector">
    </picture>
       
    </div>
</section>
