.candy-types {
    border-radius: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
    background-image: url('/img/candy_types/bgmob.png');
    background-size: 320px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;

}

.candy-types-header {
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #ff4eb8;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);
}

.line2-candy-types {
    display: block;
}

.candy-types-descr {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: #5c2d91;
    margin-top: 16px;
    margin-bottom: 30px;
}

.candy-types-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.candy-types-list-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.candy-types-icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}
.candy-text-wrapper {
    min-width: 232px;
    height: 50px;
    border: 1px solid #ffd700;
    box-shadow: 0 4px 10px 0px rgba(255, 215, 0, 0.25);
    background: #f8f0ff;
}
.candy-name {
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.26;
    letter-spacing: 0.06em;
    color: #ff4eb8;
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 10px;
}

.candy-descr {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #666;
    padding-left: 10px;
    margin-bottom: 4px;
    padding-right: 2px;
}

.candy-types-afterlist {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    background: linear-gradient(106deg, #5c2d91 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-line-candy-types {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .candy-types {
        padding-bottom: 34px;
         background-image: url('/img/candy_types/bgdesk.png');
        background-size: 1200px;
        background-position: center;
         background-repeat: no-repeat;
    }

    .candy-types-header {
        font-size: 64px;
        margin-bottom: 44px;
    
    }
    .line2-candy-types {
        margin-left: 130px;
    }
    .candy-types-descr {
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 60px;
    }
    .candy-types-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin: 0 auto;
        padding-bottom: 60px;
        max-width: 600px;
    }
    
    .candy-types-list-item {
        display: flex;
        align-items: center;
        gap: 50px;
        width: 100%;
    }
     .candy-types-icon {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
    }

    .candy-text-wrapper{
        min-width: 450px;
        height: 100px;
    }

    .candy-name {
        font-size: 24px;
        line-height: 1.33;
        padding-left: 46px;
        margin-bottom: 20px;
        padding-top: 12px;
    }

    .candy-descr{
        font-size: 16px;
        line-height: 1.5;
        padding-left: 162px;
        padding-bottom: 12px;
    }
   
    .candy-types-afterlist {
        font-size: 24px;
        line-height: 1.33;
    }

    .gradient-line-candy-types {
        display: block;
    }
}
