.candy-map {
    padding-top: 10px;
    padding-bottom: 40px;
}

.candy-map-header {
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #ff4eb8;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);
    text-align: start;
    margin: 0 auto;
    margin-bottom: 34px;
}

.line2-candy-map {
    display: block;
    margin-left: 70px;
}

.candy-map-descr {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: #5c2d91;
    margin-bottom: 40px;
}

.candy-map-wrapper {
    display: flex;
    border: 1px solid #40087f;
    width: 100%;
    height: 180px;
    box-shadow: inset 0 4px 25px 0 #40087f;
    background: #fff;
    padding: 25px;
    gap: 25px;
}

.mob-map-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.candy-map-icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}

.candy-region-name {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    color: #ff4eb8;
}

.candy-region-descr {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #ff4eb8;
}

.swiper-mob {
    width: 288px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    margin: 0 auto;
    transition: transform 0.4s ease-in-out;
    padding: 0;
}

.swiper-slide {
    flex-shrink: 0;
    width: 288px;
}

.map-btn-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    width: 130px;
    height: 32px;
    margin: 0 auto;
}

.map-btn-nav-prev,
.map-btn-nav-next {
    background: none;
    border: none;
    font-size: 2rem;
    color: #40087f; 
}

.candy-map-desktop {
    display: none;
}

@media only screen and (min-width: 1200px) {

    .candy-map-header {
        font-size: 64px;
        margin-bottom: 44px;
    }

    .line2-level-variety {
        margin-left: 130px;
    }

    .candy-map-descr {
        font-size: 48px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 60px;
    }

    .swiper-mob {
        display: none;
    }

    .hide-on-mobile {
        display: block;
    }

    .candy-map-wrapper {
        display: flex;
        border: none;
        width: 100%;
        height: 180px;
        box-shadow: none;
        background: transparent;
        padding: 25px;
        gap: 25px;
    }

    .candy-map-desktop {
        display: flex;
        margin: 0 auto;
        position: relative;
        width: 678px;
        height: 972px;
        background-image: url("/img/candy_map/deskbg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #fff;
    }

    .map-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        position: absolute;
    }

    .map-item.item-temple {
        display: flex;
        align-items: flex-start;
        top: 48px;
        right: 22px;
    }

    .map-item.item-volcano {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        top: 100px;
        left: 22px;
    }

    .map-item.item-glacier {
        display: flex;
        align-items: flex-start;
        top: 370px;
        right: 22px;
    }

    .map-item.item-valley {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        top: 430px;
        left: 22px;
    }

    .map-item.item-marsh {
        display: flex;
        align-items: flex-start;
        top: 700px;
        right: 22px;
    }

    .map-item.text {
        position: absolute;
        display: flex;
        align-items: flex-start;
        gap: 0;
        flex-direction: column;
        top: 780px;
        left: 22px;
    }

    .map-text {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 158px;
        height: 160px;
    }

    .candy-map-afterlist {
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.33;
        color: #40087f;
        max-width: 300px;
    }

    .gradient-line {
        display: block;
    }

    .swiper-mob {
        display: none;
    }
}