.events {
   font-family: "Baloo 2", sans-serif; 
   padding-top: 10px;
   padding-bottom: 40px;
}
.events-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);
    margin-bottom: 28px;
    color: #ff4eb8;
}

.space2-events {
    display: block;
    margin-left: 70px;
}
  

.events-text {
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #5c2d91;
}

.events-box {
     background-image:
        url(/img/events/events-vector-mob.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        position: relative;
        height: 848px;

        
}
.events-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #9747ff;
    padding: 10px 0;
    margin-top: 40px;
    margin-bottom: 40px;
}


.events-item {
    border: 1px solid #a041ff;
    border-radius: 12px;
    padding: 12px 20px;
    width: 190px;
    height: 148px;
    box-shadow: inset 0 0 25px 0 #a041ff;
    background: #fff0f8;
  
  
    
}

.eventsright {
  margin-left: 98px;
}
.eventsfirst {
    top: 12px;
    right: 0;
   
}

.eventssecond {
    top: 174px;
    left: 0;
}

.eventsthird {

    top: 336px;
    right: 0;
}

.eventsfourth {
    top: 498px;
    left: 0px;

}

.eventsfifth {
    top: 660px;
    right: 0;

}

.events-item-title {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 12px;
    
}
.events-item-text {
   line-height: 1.5;
}

.events-yellow-vector {
    display: none;
}

  @media  (min-resolution: 192dpi) {
       .events-box { 
        background-image:
        url(/img/events/events-vector-mob-2x.png);
        }
      }

@media only screen and (min-width: 1200px) {
.events {
 
   padding-top: 10px;
   padding-bottom: 50px;
}
.events-title {
   
    font-size: 64px;
    line-height: 1.1;
    
   
}

.space2-events {
  
    margin-left: 130px;
}
  

.events-text {
   
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
   
  
}

.events-box {
     background-image:
        url(/img/events/events-vector-deck.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        position: relative;
        height: 396px;
        width: 990px;
        margin: 0 auto;
        align-content: center;
        justify-content: center;
        margin-top: 82px;
        margin-bottom: 220px;

        
}
.events-list {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 0;
 margin-top: 0;
 margin-bottom: 0;
    position: relative;

}

.events-item {
    position: absolute;
}

.events-img-vector {
    margin: 0 auto;
}

.eventsfirst {
    top: -20px;
    left: 100px;
   
}

.eventssecond {
    top: -60px;
    left: 540px;
}

.eventsthird {

    top: 130px;
    left: 286px;
}

.eventsfourth {
    top: 190px;
    left: 12px;
}

.eventsfifth {
    top: 272px;
    left: 540px;

}

.events-text-bottom {
    
    font-weight: 400px;
    font-size: 24px;
    line-height: 1.2;
    text-align: start;
    
}

.events-yellow-vector {
    display: block;
}

  @media  (min-resolution: 192dpi) {
       .events-box { 
        background-image:
        url(/img/events/events-vector-desk-2x.png);
        }
      }

}
  