.events {
   font-family: "Baloo 2", sans-serif; 
   padding-top: 10px;
   padding-bottom: 40px;
}
.events-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);
    margin-bottom: 28px;
    color: #ff4eb8;
}

.space2-events {
    display: block;
    margin-left: 70px;
}
  
  