.footer {
  display: flex;
  background-color: #000;
  color:#fff;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
 
  line-height: 2.3;
}

.footer-nav {
  display: flex;
 flex-direction: column;
 font-size: 32px;
 margin-bottom: 10px;
  
 
}
.footer-text-rights {
 font-size: 14px;
}

@media only screen and (min-width: 1200px) {

  .footer {
  padding-top: 56px;
  padding-bottom: 56px;
  line-height: 1.2;
}

  .footer-nav {
    display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 36px;
  font-size: 48px;
  margin-bottom: 100px;
 }
 .footer-link {
  
  position: relative;
}
.footer-link:not(:last-child)::after {
  content: "|";
  margin-left: 16px;
  color: #fff;
}
 .footer-list-rights {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  justify-content: center;
}

  .footer-list-rights-item {
    position: relative;
    text-align: center;
  }
  .footer-text-rights {
   font-size: 24px;
    line-height: 1.3;
    margin: 0;
}

 .footer-list-rights-item:not(:last-child)::before {
   content: "|";
   margin-right: 8px;
   color: #fff;
   font-size: 24px;
}
  
}