.hero {
    padding-bottom: 40px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    inset: 0;
    background-image:linear-gradient(to bottom,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)),
        url('/img/hero+header/bg_hero_mob_2x.jpg');
    background-size: 320px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
} 

.match-title{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding-top: 70px;
} 

.outlined-text {
    position: relative;
    color: #ffffff;    
    font-size: 32px;
    display: inline-block;
}

.outlined-text::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    text-shadow:
            -2px -2px 1px #5C2D91,
            2px -2px 1px #5C2D91,
            -2px 2px 1px #5C2D91,
            2px 2px 1px #5C2D91,
            -2px 0px 1px #5C2D91,
            2px 0px 1px #5C2D91,
            0px -2px 1px #5C2D91,
            0px 2px 1px #5C2D91;
}

.hero-title {
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    color: #ff4eb8;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    transform: rotate(-5deg);
    text-align:center;
    margin-top: 10px;
    margin-bottom: 23px;
}

.hero-title .align-right {
    display: block;
    text-align: right;
    margin-left: 0;
}
.princess-hero {
    width: 80px;
    height: 100px;
    display: block;
    margin-top: 10px;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;   
}

.loly-hero {
    display: none;
}

.knight-hero {
    display: none;
}

.hero-descr {
    display: none;
}

.google-play-btn{
    border-radius: 10px;
    width: 288px;
    height: 60px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 2;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.google-play-btn:hover {
    box-shadow: 2px 4px 5px 0 rgba(160, 65, 255, 0.5);
}
.google-btn-img {
    height: 60px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.hero-moto {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    background: linear-gradient(90deg, #5c2d91 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 17px;
}

.gradient-line-hero {
    display: none;
}

@media only screen and (min-width: 1200px) {
   .hero {
    padding-bottom: 50px;
       background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9) ), url('/img/hero+header/bg_hero_desk_2x.jpg');
       background-size: 1200px;
       background-position: center;
       background-repeat: no-repeat;
       
   }
   .hero .container {
    position: relative;
   }
    .match-title {
        font-size: 64px;
        line-height: 1.13;
        padding-top: 20px;
    } 
    .outlined-text {
        font-size: 64px;
    }
    
    .hero-title {
        font-size: 96px;
        line-height: 1.04;
        padding: 0;
        margin-bottom: 0;
    }

    .align-left {
        display: block;
        text-align: left;
    }
    
    .align-center {
        display: block;
        text-align: center;
     }
    
    .align-right {
        display: block;
        text-align: right;     
    }
    .princess-hero {
            position: absolute;
            margin: 0;
            border: 1px solid #ffd700;
            border-radius: 20px;
            top: 100px;
            right: 150px;
            width: 100px;
            height: 120px;
            transition: transform 0.3s ease;
            pointer-events: auto
    }

        .princess-hero:hover {
            transform: rotate(10deg) scale(1.05);
            box-shadow: 0 4px 4px #ffd700;

        }
       
        .loly-hero {
            position: absolute;
            display: block;
            top: 550px;
            right: 340px;
            width: 100px;
            height: 110px;
            transition: transform 0.3s ease;
            pointer-events: auto
            
        }
        .loly-hero:hover {
            transform: rotate(15deg) scale(1.05);

        }
    
        .knight-hero{
            position: absolute;
            border: 1px solid #0b6bfc;
            border-radius: 20px;
            display: block;
            bottom: 80px;
            right: 86px;
            width: 100px;
            height: 100px;
            transition: transform 0.3s ease;
            pointer-events: auto;
        
        } 
        
        .knight-hero:hover {
             transform: rotate(-10deg) scale(1.05);
            box-shadow: 0 4px 4px 0 #0b6bfc;

        }

    .hero-descr-wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .hero-descr {
        display: inline-block;
        font-family: "Fredoka", sans-serif;
        max-width: 590px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.33;
        text-align: left;
        color: #5c2d91;
        padding-top: 30px;
    }

    .google-play-btn {
        margin: 0;
        padding: 0;
        display: inline;
        width: 282px;
        height: 90px;
    }

    .google-btn-img {
        width: 282px;
        height: 90px;
    }

    .hero-moto{
        letter-spacing: 0.21em;
        -webkit-text-fill-color: transparent;
        margin-top: 50px;
    }

    .gradient-line-hero {
        display: block;
    }
}