.reviews {
   font-family: "Baloo 2", sans-serif; 
   padding-top: 28px;
   padding-bottom: 112px;
}
.reviews-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);
    margin-bottom: 38px;
    color: #ff4eb8;
    
}

.reviews-subtitle {
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #5c2d91;
    margin-bottom: 40px;
    
}

.reviews-card-circle {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #a041ff;
    margin-bottom: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-icon {
    
    fill: #ffd700;
   

}
.reviews-card {
 text-align: center;
  height: 100%;
  width: 240px ;
  border: 2px solid #fff;
  box-shadow: 0 2px 10px 0 #ff4eb8;
  background: #fff0f8 !important;
  padding: 29px 44px 20px;
  color: #40087f;
  /*display: flex;
  flex-direction: column;
 
  display: flex;
  align-items: center;
  justify-content: center;*/
}



.reviews-text {
    line-height: 1.5;
    margin-bottom: 20px;
    height: 120px;
   
}
.reviews-user-name {
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    line-height: 1.3;
   
}

#reviews-swiper {

 width: 100%;
 height: 300px;
}

 #reviews-swiper-prev,
  #reviews-swiper-next  {
  color: #40087f !important
}



/*.swiper-wrapper {
   
align-items: center;



}*/

@media (max-width: 1199px) {
  #reviews-swiper-prev,
  #reviews-swiper-next {
    display: none;
  }
  .swiper {overflow: hidden;}
}

@media only screen and (min-width: 1200px){
.reviews {
  
   padding-top: 32px;
   padding-bottom: 60px;
}
.reviews-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 44px;
   
}

.reviews-subtitle {
    font-size: 48px;
    margin-bottom: 40px;
    
}
.reviews-card-circle {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

.reviews-card {

  height: 100%;
  width: 240px ;
  
  padding: 29px 70px 40px;
}
.reviews-text {
   margin-bottom: 11px;
   height: 170px;
  
}

#reviews-swiper {


 height: 400px;
}


}











