.strategytips {
   font-family: "Baloo 2", sans-serif; 
   padding-top: 10px;
   padding-bottom: 40px;
}
.strategytips-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: #ff4eb8;
    text-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);
    margin-bottom: 18px;
}
.space2-strategytips{
    display: block;
    margin-left: 120px;
}

.strategytips-text1 {
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #5c2d91;
    margin-bottom: 40px;
}
.strategytips-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Fredoka", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
     color: #5c2d91;

}
.strategytips-item {
    display: flex;
    flex-direction: row;
   gap: 10px;
    align-items: center;
    
}
.tips-icon { 
    height: 50px;
    width: 50px;
    background-color: #ff4eb8;
}
.strategytips-box {
    text-align: center;
    border: 2px solid #ff4eb8;
    height: 50px;
    width: 228px;
    
}
.bigbox {
    height: 70px;
    
}

.strategytips-text2 {
    font-size: 24px;
    line-height: 1.3;
    color: #5c2d91;
}

.tips-yellow-vector {
    display: none;
}

.tips-striped-line {
    border: 1px solid #ff4eb8;
    height: 10px;
    background: repeating-linear-gradient(
        -45deg, #ff4eb8, #ff4eb8 10px, #fff 10px, #fff 20px
    );
}

@media only screen and (min-width: 1200px){

.strategytips {
  
   padding-top: 4px;
   padding-bottom: 50px;
}
.strategytips-title {
    
    font-size: 64px;
    margin-bottom: 16px;
}
.space2-strategytips{
    display: block;
    margin-left: 220px;
}

.strategytips-text1 {
    
    font-size: 48px;
    line-height: 1.2;
    color: #5c2d91;
    margin-bottom: 60px;
    text-align: center;
}
.strategytips-list {
    
    gap: 50px;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
    color: #5c2d91;

    

}
.strategytips-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    
}
.tips-icon { 
    height: 100px;
    width: 100px;
    background-color: #ff4eb8;
}
.strategytips-box {
    text-align: center;
    border: 2px solid #ff4eb8;
    height: 90px;
    width: 450px;
    padding: 0 35px 20px;
}

.strategytips-text2 {
    font-size: 24px;
    line-height: 1.3;
    color: #5c2d91;
}

.tips-striped-line {
    border: 1px solid #ff4eb8;
    height: 10px;
    background: repeating-linear-gradient(
        -45deg, #ff4eb8, #ff4eb8 20px, #fff 20px, #fff 40px
    );
}

.tips-yellow-vector {
    display: block;
  
}


}
